main {
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  padding-right: 8%;
  padding-left: 8%;
  padding-top: 120px;
  box-sizing: border-box;
  padding-bottom: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .5vw;
  grid-row-gap: 2vw;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.content-grid-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

.profilepic {
  margin-top: 1vw;
  max-width: 30vw;
  border-radius: 40px;
}

.profilepic img {
  width: 100%;
  height: auto;
  display: block;
}

.nav-button {
  background-color: #8a6da6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

.nav-button:hover {
  background-color: #583180;
}

.about-text p {
  padding: 10px;
  margin-top: 0;
  text-align: center;
  font-size: 1.2vw;
}

.title-about {
  margin-bottom: 2vw;
  font-size: 2.5vw;
  font-weight: 700;
  color: rgb(30, 40, 50);
  text-align: center;
}

.content-grid-item-pic img {
  height: 30vw;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    margin-left: 4%;
    margin-right: 4%;
  }
  .profilepic {
    margin: 0 auto;
    max-width: 50vw;
  }
  .content-grid-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2vw;
  }
  .content-grid-item-pic img {
    width: 70vw;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .about-text p {
    font-size: 14px;
  }
  .title-about {
    font-size: 20px;
  }
}