main {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  padding-left: 5%;
  margin-top: 150px;
}

.welcome-text {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 80px;
  font-size: 36px;
  overflow: auto;
  max-width: 500px;
}

.welcome-text p {
  padding: 5px;
  font-weight: 700;
  color: rgb(30, 40, 50);
} 

.first-page-pic {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 80vh;
  z-index: -1;
  transition: all 2s ease;
}

.content button {
  background-color: rgb(131, 87, 176);
  color: rgba(255, 255, 255, 0.85);
  border: none;
  padding: 15px 35px;
  font-size: 1.2em;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  z-index: 50;
}

button:hover {
  background-color: rgba(131, 87, 176, 0.8);
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 768px) {
  body {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .first-page-pic {
    top: 200px; /* Push the image down */
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%); /* Centering adjustment */
    width: 80%; /* Adjust the size */
    height: auto; /* Maintain aspect ratio */
    opacity: .3;
  }

  .header-content {
    position: relative;
    z-index: 1001; /* Ensure the header is above the image */
  }

}

