* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 150px;
}
.app-container {
  padding: 3rem 1.5rem 2rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.home-section {
  margin-bottom: 4rem;
  margin-top: -8rem;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.booking-flow {
  height: 100%;
  width: 100%;
}

section div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;
}
input {
  text-align: start;
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
}

button {
  display: inline-block;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: outset;
}
.stepper {
  position: relative;
}

.booking-step {
  display: flex;
  flex-direction: column;
}

.step-number {
  display: flex;
  align-items: center;
}

.step-number-touched, .step-number-circle {
  background-color: green;
}

.step-number-circle {
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1.8rem;
  height: 3.3rem;
  width: 3.3rem;
}

.step-number-title {
  font-weight: 400;
  margin: .8rem 1.9rem;
}

.booking-step-body {
  border-left: 3px solid var(--inactive-grey-color);
  margin: 1rem 0 1rem 1.6rem;
  min-height: .75rem;
  padding-left: 3.3rem;
  display: flex;
  flex-direction: column;
}

.booking-step-module-wrapper {
  padding: 1rem 0;
}

.calendar-select {
  height: 100%;
  width: 100%;
}

.calendar-item {
  border-bottom: 1px solid var(--spacer-grey-color);
  padding: 1rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  grid-template-rows: min-content auto min-content;
}

.calendar-item-header {
  align-self: center;
  grid-area: header;
}

.calendar-item-name {
  color: black;
  font-weight: 400;
  line-height: 1.8rem;
}

.calendar-item-first-free-slot {
  margin-top: .5rem;
}
.calendar-item-first-free-slot-text {
  font-weight: 400;
  line-height: 1.4rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
}
.calendar-item-first-free-slot-value {
  color: grey;
}

.bone {
  animation: pulse 1s infinte alternate;
  background: whitesmoke;
  cursor: auto;
}

.bone-marrow {
  visibility: hidden;
}
.text-skeleton {
  display: inline-block;
  font-size: 1em;
  height: 1.4ex;
  overflow: hidden;
}

.calendar-item-calendar-logo {
  grid-area: logo;
  height: 5.5rem;
  width: 5.5rem;
}

.button.calendar-item-select-button {
  align-self: center;
  grid-area: button;
  padding: .33em 2.33em;
  width: auto;
}
.button {
  border: .1rem solid rgba(0, 0, 0, 0);
  border-radius: .2rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.4;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all .1s ease-in-out;
  white-space: nowrap;

}

.calendar-item-description {
  grid-area: desc;
}

.placeholder, .placeholder-line {
  width: 100%;
}
.placeholder-line-last {
  width: 20%;
}

@media screen and (max-width: 48rem) {
  .calendar-item {
    grid-template-areas:
        "logo header header"
      "desc desc desc"
      "button button button"
  }

  .calendar-item-description {
    margin: 1rem 0 0;
  }

  .calendar-item-calendar-logo {
    border-radius: 3px;
    margin-right: 2rem;
  }

  .button.calendar-item-select-button {
    order: 1;
    justify-self: stretch;
    margin: 1.5rem 0 0;
  }
}