.hours-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
  width: 210%;
  transition: all .2s ease;
  opacity: .05;
}

.hours-content-full {
  display: block;
  padding-top: 180px;
  padding-bottom: 200px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.opening-hours-container {
  margin-top: 2vw;
}

ul {
  list-style-type: none;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

.text-holder {
  text-align: center;

  margin: 0 auto;
  border-top: 2px solid black;    /* Add top border */
  border-bottom: 2px solid black;
}

#nyitvatartas_fontos_text {
  font-size: 18px;
  font-weight: 600;
  color: red;
}

.nyitvatartas-text {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 4vw;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nyitvatartas-text-column {
  text-align: left;
}

.nyitvatartas-text-column li {
  padding-bottom: 1vw;
}

#hetfo, #kedd, #szerda, #csutortok, #pentek, #szombat, #vasarnap {
  font-weight: 500;
}


.vedooltas-idopont-gomb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 15px; /* Adjust the value to control the roundness */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values to control the shadow */
  padding: 20px 20px;
  font-weight: 600;
  color: rgb(41, 41, 41);
  background-color: #fff;
  width: 60%;
}

.opening-hours-container button {
  background-color: rgb(131, 87, 176);
  color: rgba(255, 255, 255, 0.85);
  border: none;
  padding: 15px 35px;
  font-size: 1.2em;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  z-index: 50;
  margin-top: 10px;
}

button:hover {
  background-color: rgba(131, 87, 176, 0.8);
  color: rgba(255, 255, 255, 0.9);
}

.fehervar-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
  gap: 0.1rem;
  margin-bottom: 50px;
  margin-top: 60px;
}

.fehervar-container p {
  font-weight: 500;
  color: rgb(70, 70, 70);
}

.fehervar-container a {
  text-decoration: none;
  font-variant: small-caps;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 15px; /* Adjust the value to control the roundness */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values to control the shadow */
  padding: 10px 20px;
  font-weight: 600;
  color: rgb(41, 41, 41);
  background-color: #fff;
}

.fehervar-container a img {
  height: 30px;
}

#kornyeki {
  margin-bottom: 18px;
  margin-top: 12px;
  font-weight: 500;
  color: rgb(70, 70, 70);
}

#opening-hours-list {
  margin-left: 12vw;
  list-style-type: disc;
  font-size: 15px;
}

#opening-hours-list li {
  padding-bottom: 6px;
  padding-left: 10px;
}

@media (max-width: 800px) {
  main {
    margin-left: 4%;
    margin-right: 4%;
  }

  .hours-background {
    opacity: 0;
  }

  .vedooltas-idopont-gomb {
    width: 100%;
  }
}

