main {
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  padding-right: 8%;
  padding-left: 8%;
  padding-top: 120px;
  box-sizing: border-box;
  padding-bottom: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .5vw;
  grid-row-gap: 2vw;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: max-content min-content auto;
  grid-gap: 1vw;
  align-items: start;
  text-align: left;
}

.grid-item {
  padding: 2px;
}

.year {
  font-weight: bold;
}

.dash {
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

.text {
  word-wrap: break-word;
}

.about-text {
  padding: 10px;
  margin-top: 0;
  text-align: center;
}

.title-about {
  margin-bottom: 6vw;
  margin-top: 4vw;
  font-weight: 700;
  font-size: 38px;
  color: #8357b0;
  text-align: center;
  letter-spacing: 2px;
}

.grid-container {
  font-size: 14px;
}

.nav-button {
  background-color: #8a6da6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

.nav-button:hover {
  background-color: #583180;
}

@media (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    margin-left: 4%;
    margin-right: 4%;
  }
  .about-text p {
    font-size: 14px;
  }
  .title-about {
    font-size: 24px;
  }
}
